part1/Exercise 1.1/.vite
part1/Exercise 1.1/node_modules
part1/Exercise 1.1/public
part1/Exercise 1.1/.eslintrc.cjs
part1/Exercise 1.1/.gitignore
part1/Exercise 1.1/package-lock.json
part1/Exercise 1.1/README.node_modules
part1/Exercise 1.1/vite.config.js